#%RAML 1.0
version: v1
title: placeholder
baseUri: https://mocksvc.mulesoft.com/mocks/acef253d-52f7-4cda-a27b-5dd8cc2bfa24 # baseUri: http://jsonplaceholder.typicode.com
/users: 
  get:
    description: Retrive a list of all users.
    responses: 
      200:
        body: 
          application/json:
            example: !include user-example.json
  /userbyid:
    get:
      description: Get information about a particular user.
      queryParameters:
        id:
          description: Specify the id of the user you want to   retrieve.
          type: integer
          required: false
          example: 3
      responses: 
        200:
          body: 
            application/json:
              example: |
                [{
                "id": 3,
                "name": "Clementine Bauch",
                "username": "Samantha",
                "email": "Nathan@yesenia.net",
                "address": {
                  "street": "Douglas Extension",
                  "suite": "Suite 847",
                  "city": "McKenziehaven",
                  "zipcode": "59590-4157",
                  "geo": {
                    "lat": "-68.6102",
                    "lng": "-47.0653"
                  }
                },
                "phone": "1-463-123-4447",
                "website": "ramiro.info",
                "company": {
                  "name": "Romaguera-Jacobson",
                  "catchPhrase": "Face to face bifurcated interface",
                  "bs": "e-enable strategic applications"
                } }]